bandit
shap
fastapi
uvicorn
typer
jinja2
requests
pyyaml
imbalanced-learn
scipy
joblib
pandas
numpy
scikit-learn
xgboost
matplotlib
fastapi
uvicorn[standard]
jinja2
python-multipart
pydantic
bandit
pylint
radon
pytest
